<ion-content [fullscreen]="true">
  <div class="header">
    <div class="compte" (click)="navToCompte()"></div>
    <ion-icon name="search-sharp"></ion-icon>
  </div>

  <div class="user1">
    <img src="./../../assets/user1.svg" alt="user1">
  </div>
  <div class="user2">
    <img src="./../../assets/user2.svg" alt="user2">
  </div>

  <div class="cursor" id="cursor" (click)= "presentModal()">
    <img src="./../../assets/cursor.svg" alt="cursor">
  </div>

  <ion-icon name="car-sport-sharp"></ion-icon>
</ion-content>
