<ion-content>
  <div class="connect" (click)="navToLogin()">
    <p>SE CONNECTER</p>
  </div>

  <div class="logo">
    <img src="./../../assets/logo.svg" alt="logo">
  </div>

  <h2>S'INSCRIRE</h2>
  <ion-input placeholder="Nom*"></ion-input>
  <ion-input placeholder="Identifiant*"></ion-input>
  <ion-input type="password" placeholder="Mot de passe*"></ion-input>

  <ion-button expand="block">S'inscrire</ion-button>
  <div class="more">
    <p>En cliquant sur s’inscrire vous acceptez les conditions d’utilisations et les termes d’usages  </p>
  </div>
</ion-content>
